<section id="about-page">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">About us</h1>

      <p class="text-muted">
        Generating stable revenue can be quite challenging for small businesses, especially now when industries get increasingly competitive.
        Companies are trying to gain the attention of the market through various means, with social media quickly rising to the top. That is where we come in, helping SMEs reach their customers.
         We are a team of marketing professionals that know how to generate leads and, more importantly, convert them into loyal customers.
      </p>

      <p class="text-muted">
      Our business bases its core values on satisfied and successful clients by building powerful social media advertisement tools.
      We help small firms grow by helping them reach customers at affordable costs.
      Our team of experts takes into consideration the industry company competes in as to design top-notch campaigns that provide real results.
      Additionally, we strive to build or strengthen the client’s brand image using our social media know-how.
      </p>

      <h3><span style="color:#0f70ac;">Our</span> <span style="color:#fb0b57;">Vision</span></h3>
      <p class="text-muted">
      Our vision is to become a well-established marketing agency, helping small businesses expand their operations on a long-term basis.
      Zoneleads trains its experts to understand market and clients, connecting two crucial dots.
      In this way, we intend to not only provide marketing services but also teach our customers how to conduct their social media activities.
      As such, we are oriented towards long-term performance, rather than short-term gains.
      Using Instagram, Facebook, landing pages, and market data collection, we dive deep into the matter to provide valuable information that can be of real use.
      </p>

      <h3><span style="color:#0f70ac;">Our</span> <span style="color:#fb0b57;">Mission</span></h3>
      <p class="text-muted">
      We strive to provide the most effective programs for lead generation through the cost-efficient social media channels.
      In order to carry out necessary duties, we implemented top-notch software solutions that would allow us to perform the right analytics.
      Instead of pure numbers, our statistical data generates results that can help businesses achieve their goals.
      Contact us today to get more information about our programs, pricing, and social media strategies that can help you grow your operations.
      </p>

      <p class="text-muted">
        We base our mission and vision on the success of our clients, striving to improve their marketing game and achieve stable revenue streams.
        As such, we aim to become the top social media service provider by generating results that have a real impact on the market.
      </p>

      </div>
    </div>
  </div>
</section>
