<style>
@media screen and (max-width: 320px) {
#banner{
  overflow-x:hidden;
}

.banner-title{
    font-size:50px !important;
    font-weight: bold;
}}

.display-3{
  font-size:20px;
}}

@media screen and (max-width: 414px) {
#banner{
  overflow-x:hidden;
}}

@media screen and (max-width: 768px) {
#services{
  margin-top:80px;
}

.banner-title{
    font-size:60px;
    font-weight: bold;
}}


@media screen and (max-width: 1024px) {
#services{
  margin-top:160px;
}}


#display-3{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
  url(img/banner5);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height:500px;
}

</style>


<section id="banner" class="py-5">
  <div class="container">
    <div class="row align-items-center viewport-80">
      <div class="col-10 mx-auto text-center">
      <h1 class="display-2 text-white banner-title">Zone<span style="color:#0f70ac;">Leads</span></h1>
      <h2 class="text-capitalized display-3">Connecting Leads With Businesses</h2>
      <a href="/contact" class="btn banner-link mr-3">Get Started</a>
      <a href="/services" class="btn banner-link2 mr-3">Learn More</a>
      </div>
    </div>
  </div>
</section>


<section class="mt-5 pt-5">
  <div class="container">
    <h1 class="text-center">What We Do?</h1>
    <h3 class="text-muted text-center" style="margin-top:50px;">
        We focus on improving your operations, sales and marketing to ensure <br> your entire business is geared for growth.
    </h3>
  </div>


  <div class="container pt-3">
    <div class="row">
      <div class="col-md-4">
          <div class="text-center d-flex align-items-center py-5 px-4">
            <div>
              <h5 class="pink-text pt-3"><i class="fas fa-cog main-home-icon"></i></h5>
              <h3 class="card-title pt-3"><strong>Operations</strong></h3>
              <p class="pt-3">If you are unable to deliver or retain what marketing and sales bring in, your growth will be short-lived.</p>
            </div>
          </div>
        </div>


      <div class="col-md-4">
          <div class="text-center d-flex align-items-center py-5 px-4">
            <div>
              <h5 class="pink-text pt-3"><i class="fas fa-chart-bar main-home-icon"></i></h5>
              <h3 class="card-title pt-3"><strong>Sales</strong></h3>
              <p class="card-title pt-3">Your sales strategy should bridge the gap between your operations and marketing strategy.</p>
            </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="text-center d-flex align-items-center py-5 px-4">
            <div>
              <h5 class="pink-text pt-3"><i class="fas fa-chart-pie main-home-icon"></i></h5>
              <h3 class="card-title pt-3"><strong>Marketing</strong></h3>
              <p class="card-title pt-3">Aligning marketing with sales and operations ensures your business is in front of the right prospects.</p>
            </div>
          </div>
      </div>
     </div>
    </div>
</section>


<div class="streak streak-photo streak-md hm-black-strong-1" id="display-3">
    <div class="flex-center mask pattern-1">
        <div class="text-center white-text">
            <h3 class="h3-responsive mb-5 p-4"><em>ZoneLeads is a service which hones in on just what makes your operations, sales and marketing great, and turns them into fantastic developments. Your business cannot truly grow unless all of its sectors are being taken care of and sustained.</em></h3>
        </div>
    </div>
</div>

<section class="py-5">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="text-center h1 my-4">Do you need a digital marketing agency?</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">
      Your business needs to grow, that’s a given. But how do you plan on feeding it, and what with?
      It is essential that you find a service which provides a comprehensive nourishment for all of the departments in your business.
      </p>
    </div>
    <div class="row wow fadeInLeft" data-wow-delay=".3s">
      <div class="col-lg-6 col-xl-5 pr-lg-5"><img class="img-fluid rounded z-depth-2" src="img/banner3" alt="project image"/></div>
      <div class="col-lg-6 col-xl-7 pl-lg-5 ">
        <div class="row mb-3">
          <div class="col-10">
            <h5 class="font-bold">Lead Generation</h5>
            <p class="grey-text">
              These are some of the most complex and often difficult measures to successfully design and implement.
              If one fails to successfully hold and provide the right level of operations, it can result in very damaging setbacks for the entire business.
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-10">
            <h5 class="font-bold">Strategies</h5>
            <p class="grey-text">
              The sales strategies which businesses focus on are generally geared towards connecting the operations side to the marketing plans.
              This bridging cannot be achieved unless a healthy channel of communication is developed between all three sectors.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <h5 class="font-bold">Presentation</h5>
            <p class="grey-text">
              There are so many new and exciting marketing channels available today. There really is no reason for your business to have to stagnate in this capacity. That being said, one truth will always remain a constant with marketing,
              and that is the proper representation of your sales and operations through a concrete presentation.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
