<section id="services" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col d-flex title mb-5">
        <div class="text-text">
          <h1 class="text-uppercase">Services we provide</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
  <div class="row">
    <div class="col-md-4" id="service-icon1">
    </div>

    <div class="col-md-8">
      <h3><span style="color:#0f70ac;">Lead</span> <span style="color:#fb0b57;">Generation</span></h3>
      <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p class="text-muted">
      We help clients generate leads at an unprecedented rate through social media advertisement and management. The crux of the matter lies in the messages and SEO that can reach customers within the desired niche. Thus, we offer industry analysis, upon which we build the overall strategy. Additionally, we offer services regarding database creation where important details, such as leads’ contact information, phone numbers, names, and wants/needs are located.
      Furthermore, our end objective for the lead generation tasks is not to simply gather around a large number of followers who do nothing. The main goal is to convert leads into loyal customers that purchase goods or services from our clients. Thusly, we strive not to just identify potential customers but to interact with them. Their relationship with the company is important, a fact we try to make use of by creating efficient communication channels with the consumer base.
    </p>
    </div>

    <div class="col-md-8">
    <h3><span style="color:#0f70ac;">Comprehensive</span> <span style="color:#fb0b57;">Platform</span></h3>
    <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p class="text-muted">
    Without a sound base for operations, social media programs can hardly achieve acceptable results. Having this particular fact in mind, we put in place comprehensive software to support all of our endeavours.
    Through it, we created an Omnichannel platform that provides necessary information regarding the social media campaign, lead generation, as well as customer details as well.
    The importance of software lies in the fact that it tasks down tasks committed by the Zoneleads.
    </p>
    <p class="text-muted">
    It fosters transparency by showing the progress of the project through engagements achieved during the advertising period.
    Furthermore, the platform itself is a giant database upon which statistical measurement tools (analytics) can detect trends within the consumer market.
    It pinpoints issues that company might have right now but also opportunities it missed.
    Thus, we have an alert system, updating our clients regarding the social media advertisement, results, and details regarding the general market behaviour.
    </p>
    </div>

    <div class="col-md-4" id="service-icon2"></div>


    <div class="col-md-4" id="service-icon3"></div>

    <div class="col-md-8">
    <h3><span style="color:#0f70ac;">Landing</span> <span style="color:#fb0b57;">Pages</span></h3>
    <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p class="text-muted">
      To draw the attention of your target audience, landing pages are the crucial first stop. Without an attractive presentation of your online platform, leads can hardly turn into customers.
      Thus, we create supreme landing pages for our clients, including SEO works as well. We understand just how vitally important the first impression is.
      Thus, our work on landing pages takes into account the industry our client is competing in, as well as how to attract readers all the time.
      Additionally, we do connect our overall campaign and plans on all products we offer. Thus, landing pages and social media presentation/advertisement are in-line with each other, constructing a comprehensive picture of the company.
       We also work on a brand image for our clients, which we imbued in landing pages as well. The use of keywords, as well as the overall design of presentation pages,  are unique and has the power to keep leads interested in your business.
    </p>
    </div>


    <div class="col-md-8">
    <h3><span style="color:#0f70ac;">Social<span> <span style="color:#fb0b57;">Media Ads</span></h3>
    <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    <p class="text-muted">
      We run targeted ads for our clients on diffrent platforms as a way to generate leads. However, the aim of these ads is not just to generate pageviews but desirable actions.
      The number of potential customers is only important as our ability to push clients to make a decision on purchasing the product from our clients. As such, our ads carry messages that are not generic nor aim to simply “build numbers.”
      Thus, we offer the whole package of social media advertisement, including overall strategy, metrics upon which success rate is measured, and contingency plans to improve the current situation our customers find themselves in.
      Additionally, we offer our own social media management platform where all important metrics reside. In it, we provide transparent results of our placed ads on Facebook and Instagram.
      Zoneleads designs ads per individual customer need, as to address specific market, objectives, and consumer niche(s).
    </p>
    </div>

    <div class="col-md-4" id="service-icon4">
    </div>

  </div>
</div>
</section>
