<section id="terms-and-conditions">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Terms and Conditions</h1> <br>

      <p>
        These terms and conditions of use (‘Terms’) govern the use of the website located at www.zoneleads.co.uk.<br>
        In these Terms, an individual visitor to the Website is referred to as ‘you’ and ZoneLeads is referred to as ‘ZoneLeads’, ‘us’ or ‘we’.<br>
        By proceeding to use the Website, you agree to be bound by these Terms, in their current form and as they may be amended by ZoneLeads from time to time.  If you do not accept these Terms, you must discontinue your use of the Website immediately.
      </p>

      <h4>Changes to these Terms and the Website</h4>
      <p>
        We may revise these Terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes we made, as they are binding on you. 

      </p>

      <h4>Viruses</h4>
      <p>
        We do not guarantee that the Website will be secure or free from bugs or viruses.<br><br>
        You are responsible for configuring your information technology, computer programmes and platform in order to access the Website. You should use your own virus protection software.<br><br>
        You must not misuse the Website by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Website, the server on which the Website is stored or any server, computer or database connected to our Website. You must not attack our Website via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Website will cease immediately.
      </p>

      <h4>Changes to these Terms and the Website</h4>
        <ul>
          <li>We provide the Website without warranty of any kind. We make no representations, warranties or guarantees, whether express or implied, that the content on our Website is accurate, complete or up-to-date.</li>
          <li>Nothing in these Terms excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</li>
          <li>We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with: use of, or inability to use, our site; or use of or reliance on any content displayed on our site. If you are a business user, please note that in particular, we will not be liable for loss of profits, sales, business, or revenue; business interruption; loss of anticipated savings; loss of business opportunity, goodwill or reputation.  We will not be liable for any indirect or consequential loss or damage.</li>
          <li>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our Website or to your downloading of any content on it, or on any website linked to it.</li>
          <li>We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</li>
          <li>We do not guarantee that the Website will always be available or be uninterrupted and reserve the right to suspend access to the Website without notice.</li>
        </ul>

        <h4>Intellectual property rights</h4>
        <ul>
          <li>We are the owner or the licensee of all intellectual property rights on our site, and in the material published on it.  Those works are protected by copyright laws and treaties around the world. All such rights are reserved.  Nothing in these Terms operates to transfer, assign or grant any of those rights to you.  You must not reproduce or use images, trademarks or names displayed on the Website other than for your personal use without written permission of the owner.</li>
          <li>Unless specifically prohibited by a notice published on any page, you may make a print copy of any parts of the Website that you require for your own personal use, provided that in doing so you do not remove or alter any trade mark, copyright or other proprietary notices contained in that part of the Website. Our status (and that of any identified contributors) as the authors of content on the Website must always be acknowledged. You must not use any part of the content on our Website for commercial purposes without obtaining a license to do so from us or our licensors.</li>
        </ul>

        <h4>Data and privacy</h4>
        <p>
          ZoneLeads is committed to protecting your privacy.  Please see our Privacy Policy for details of how we treat information which you provide to us via the Website.
        </p>

        <h4>Third party Websites</h4>
        <p>
            We assume no responsibility for the content of any websites linked on our Website or websites from which you have accessed our Website. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them
        </p>

        <h4>General</h4>
        <p>
          These Terms are governed by the laws of London, United Kingdom and English courts have exclusive jurisdiction in any dispute arising out of or in connection with your use of the Website.
          <br><br>
          To the extent that any part of these Terms is found to be invalid, unlawful or unenforceable by any court of competent jurisdiction such part shall to that extent be severed from the remaining terms all of which shall remain in full force and effect as permitted by law.

        </p>

      </div>
    </div>
  </div>
</section>
