<footer class="page-footer font-small">

    <div style="background-color: #fb0b57;">
      <div class="container">

        <div class="row py-4 d-flex align-items-center">

          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>

          <div class="col-md-6 col-lg-7 text-center text-md-right footer-icons">

            <a href="https://www.facebook.com/ZoneLeads/?modal=admin_todo_tour" class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>

            <a href="https://www.linkedin.com/company/19124545/admin/" class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>

            <a href="https://www.instagram.com/zoneleads_/?hl=en" class="ins-ic">
             <i class="fab fa-instagram white-text"> </i>
           </a>
          </div>

        </div>

      </div>
    </div>

    <div class="container text-center text-md-left mt-5">

      <div class="row mt-3">

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>64 Nile Street London N1 7SR</p>
            <p class="text-center"></p>
          <p>
            <i class="fas fa-envelope mr-3"></i>info@zoneleads.co.uk</p>
          <p>
            <i class="fas fa-phone mr-3"></i>0203 538 4982</p>
        </div>


        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 footer-link">

          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/contact">Contact us</a>
          </p>
          <p>
            <a href="/terms_and_conditions">Terms and condition</a>
          </p>
          <p>
            <a href="/privacy_policy">Privacy policy</a>
          </p>
        </div>

      <div class="col-md-6 col-lg-5 col-xl-5 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Subscribe to our Newsletter</h6>
        <hr class="pink accent-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <div class="form-group">
          <form class="form-inline" id="footer-form">
          <input type="email" class="form-control" id="footer-email" name="footerEmail" placeholder="Email" required="true">

          <button type="submit">Subscribe</button>

          <div class="checkbox mt-3">
            <small style="font-size:13px"><input type="checkbox" name="remember2" id="remember2"> I have read and agree to the <a href="/terms_and_conditions" style="text-decoration:underline">Terms & Conditions</a> and <a href="/privacy_policy" style="text-decoration:underline">Privacy Policy</a>.</small>
          </div>
          <p class="pt-2" id="display-msg2"></p>

        </form>
        </div>
      </div>
      </div>

    </div>

    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="/"> ZoneLeads</a>
    </div>

  </footer>

<script type="text/javascript" src="js/footer_email_handler.js"> </script>
